<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/img.jpg" alt="">김주현
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li><a href="javascript:;"> Profile</a></li>
          <li>
            <a href="javascript:;">
              <span class="badge bg-red pull-right">50%</span>
              <span>Settings</span>
            </a>
          </li>
          <li><a href="javascript:;">Help</a></li>
          <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-envelope-o"></i>
          <span class="badge bg-green">6</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            {% for cg in cgs %}
                {% if forloop.counter < 6 %}
          <li>
            <a href="crash_gallery.html">
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>김주현</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                {{ cg }}
              </span>
            </a>
          </li>
                {% endif %}
            {% endfor %}
          <li>
            <div class="text-center">
              <a>
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="index.html">
            <i class="fa fa-sitemap"></i> Your Apps
        </a>
      </li>
      <li class="">
        <a href="model.html">
          <i class="fa fa-mobile-phone"></i> Models
        </a>
      </li>
      <li class="">
        <a href="crash_gallery.html">
          <i class="fa fa-bolt"></i> Crashes
        </a>
      </li>
      <li class="">
        <a href="cluster.html">
          <i class="fa fa-globe"></i> Clusters
        </a>
      </li>
      <li class="">
        <a href="solution.html">
          <i class="fa fa-lightbulb-o"></i> Solutions
        </a>
      </li>
      <li class="">
        <a href="form_wizards.html">
          <i class="fa fa-braille"></i> Register
        </a>
      </li>

    </ul>
  </nav>
</div>
